section.play {

    width: 100%;
    gap: 1rem;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    justify-content: space-between;
    align-content: center;
    align-items: center;

    .row {

        width: 100%;
    }
}

/*  Sub-Components
/*   *   *   *   *   *   *   *   *   *   */

@import 'play/actions';

@import 'play/timing';

@import 'play/info';