.view {

    position: relative;
    flex-grow: 1;
    
    width: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .backdrop {

        position: absolute;
        left: 0;
        top: 0;
        
        backdrop-filter: blur( 5px );

        height: 100%;
        width: 100%;
    }
}